
<div class="cardHeader">
    <h4>Creat product</h4>
</div>

<%= form_for @product do |f| %>
    <div class="input-field">
        <%= f.label :name %>
        <%= f.text_field :name, :required => true %>
    </div>
    <div class="input-field">
        <%= f.label :price %>
        <%= f.number_field :price, :required => true %>
    </div>
    <div class="input-field">
        <%= f.label :price_max %>
        <%= f.number_field :price_max, :required => true %>
    </div>
    <div class="input-field">
        <%= f.label :description %>
        <%= f.text_field :description, :required => true %>
    </div>
    <div class="input-field">
        <%= f.label :image %>
        <%= f.text_field :image, :required => true %>
    </div>
    <%= f.submit "Create Product", class: "btn waves-effect waves-light" %>
<% end %>

<!--
:name,
:price,
:description,
:image); -->
