<div class="viewContainer">
    <div class="header">
        <div class="headerTitle">
            <%= @product.name %>
        </div>
    </div>
    <div class="topDashContainer">
        <div class="left surgePriceContainer">
            <div class="topDashInner">
                <div class="bigNumLabel">Current Surge Boost</div>
                <div class="bigNum" id="surgePrice"><%= @product.price - @product.price_base %></div>
                <div class="smallNums">
                    <div class="smallPair">
                        <div class="smallNumLabel">Real Price</div>
                        <div class="smallNum" id="basePrice"> <%= @product.price_base %> </div>
                    </div>
                    <div class="smallPair">
                        <div class="smallNumLabel">Total Price</div>
                        <div class="smallNum" id="totalPrice"> <%= @product.price %></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center todayPriceContainer">
            <div class="topDashInner">
                <div class="bigNumLabel">Today</div>
                <div class="bigNum"> $7200.00 </div>
                <div class="smallNums">
                    <div class="smallPair">
                        <div class="smallNumLabel">Total orders</div>
                        <div class="smallNum"> 11 </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right yesterdayPriceContainer">
            <div class="topDashInner">
                <div class="bigNumLabel">Yesterday</div>
                <div class="bigNum"> $7200.00 </div>
                <div class="smallNums">
                    <div class="smallPair">
                        <div class="smallNumLabel">Total orders</div>
                        <div class="smallNum"> 11 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chartsContainer">
        <div class="chartsTabs">
            <ul>
                <li><label>Price <input type="checkbox" name="price"></label></li>
                <li><label>Revenue <input type="checkbox" name="revenue"></label></li>
            </ul>
        </div>
        <div class="chartWrapper">
            <div class="chartInner">
                <div class="chart">
                    <canvas id="productChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>







<input id="currentProduct" type="hidden" value="<%= params[:id] %>" />



<%= javascript_include_tag "product-details" %>
