<input id="currentProduct" type="hidden" value="<%= @product.id %>" />



<div class="viewContainer">
    <div class="header">
        <div class="headerTitle">
            <%= @product.name %>
        </div>
    </div>
    <div class="featureProductContainer">
        <%= form_tag(controller: "orders", action: "create", method: "post", class: "buy") do %>
          <%= hidden_field_tag(:product_id, @product.id) %>
          <%= label_tag( @product.price ) %>
          <%= submit_tag("ADD ORDER") %>
        <% end %>
    </div>
    <div class="productContentContainer">
    </div>
    <div class="relatedProductsContainer">
        <ul>
            <li>thing</li>
            <li>thing</li>
            <li>thing</li>
        </ul>
    </div>
</div>







<input id="currentProduct" type="hidden" value="<%= params[:id] %>" />



<%= javascript_include_tag "product-details" %>

<hr>




<%= javascript_include_tag "product-view" %>
